<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.todoapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/to_do_icon"
        android:label="@string/app_name"
        android:name=".MyApplication"
        android:roundIcon="@drawable/to_do_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdateTodoListActivity"
            android:parentActivityName=".TodoListActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".TodoListActivity"
            android:label="@string/title_activity_todo_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddTodoActivity"
            android:parentActivityName=".TodoListActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize" />
        <receiver android:name=".TodoAlarmReciever"/>
    </application>

</manifest>